.home {
    position: relative;
    height: 570px;
}

.home__figure {
    width: 100%;
    height: 100%;
}

.home__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.6);
}

.home__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home__content-inner {
    max-width: 1280px;
    margin: 0 auto;
}
