@import "../../index.scss";

.Footer {
    position: fixed;
    height: 300px;
    width: 100%;
    background-color: $color-primary-dark;

    &-Inner {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &-Content {
        margin: auto; 
        text-align: center;
    }
    h4 {
        color: $color-secondary;
    }
}
   